body {
    background-color: black;
  }
  #top {
    margin: auto;
    height: 400px;
    width: 300px;
    margin-top: 70px;
  }
  #top>img {
    height: 400px;
    width: 300px;
  }
  #bottom {
    text-align: center;
    color: yellow;
  }